.row-header{
	margin: 0px auto;
	padding: 0px auto;
}

.row-content{
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}

.footer{
	background-color: #D1C4E9;
	margin:0px auto;
	padding: 20px 0px 20px 0px;
}
.jumbotron{
	padding:70px 30px 70px 30px;
	margin: 0px auto;
	background: #9575CD;
	color: floralwhite;
}
.address{
	font-size: 80%;
	margin:0px;
	color:#0f0f0f;
}
body{
    padding:0px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: black;
}
@font-face {
	font-family: custom1;
	src:url('../fonts/Aspergit.otf');
	}
@font-face {
	font-family: custom2;
	src:url('../fonts/Simplifica.woff');
}
@font-face {
	font-family: custom3;
	src:url('../fonts/indiepimptbs.ttf');
}
@font-face {
	font-family: custom4;
	src:url('../fonts/SUSANNA_.ttf');
}
.container {
  margin-left: %;

}


.carousel-indicators {
	bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
	background-image: none;
}
.carousel-item {
	min-height: 350px; 
	height: 100%;
	width:100%; 
}


.carousel-caption {
    top: 10%;
    bottom: auto;
}
.carousel-caption h3 {
	padding: .5em;

}
.carousel .icon-container {
	display: inline-block;
	font-size: 25px;
	line-height: 25px;
	padding: 1em;
	text-align: center;
	border-radius: 50%;
}
.carousel-caption button {
	border-color: None;
	margin-top: 1em; 
}

/* Animation delays */

h1 {
  text-align: center;  
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}

.p {
  padding-top: 125px;
  text-align: center;
}

.p a {
  text-decoration: underline;
}